@import url('https://fonts.googleapis.com/css?family=Roboto');

body, ul, p {
    margin: 0;
    padding: 0;
}

body {
    background: #00dacc;
}

section.sheet {
    width: 100%;
    margin: 100px auto;
}

.sheet .sheet-container {
    position: relative;
    background: white;
    width: 320px;
    margin: 0 auto;
    padding: 35px 25px 25px;
}

.sheet .sheet-container .sheet-info {
    font-family: 'Roboto', sans-serif;
    background: #f5f7f9;
    padding: 25px 25px 5px;
}

.sheet .sheet-container .sheet-info h3 {
    font-size: 20px;
    font-weight: 700;
    color: #317bda;
}

.sheet .sheet-container .sheet-info ul > li {
    list-style-type: none;
    background: url('../images/checkbox.svg') no-repeat left top;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #5b7289;
    padding: 2px 0 0 40px;
    margin-bottom: 20px;
}

.sheet .sheet-container .clips-container {
    position: absolute;
    top: -55px;
    left: calc(50% - 42.5px);
    text-align: center;
}

.sheet .sheet-container .clips-container .clips-blue-underline {
    height: 4px;
    width: 85px;
    margin-top: -8px;
    border-radius: 10px;
    background: #317bda;
    position: relative;
}
